# OSX
#
.idea
.DS_Store
npm-debug.log
npm-debug.log*
yarn-error.log
lerna-debug.log
node_modules
.vscode/*

# TS build
/build
coverage

# This is at root because we don't want to ignore it in
# newly spun-up apps, but we do want to ignore it in
# Ignite's source repo.
boilerplate/.gitignore.template

# checking in these files for faster ... ci, I guess
# package-lock.json
# boilerplate/yarn.lock
# pnpm-lock.yaml

